@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #a1a1a1;
}

#root {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: rgb(27, 27, 58);
  box-shadow: 5px 0 10px #6b6b6b, 2px 0 2px #313131;
}

nav {
  width: 100%;
  max-width: 1580px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

nav img {
  width: 150px;
}

nav a, nav button {
  text-decoration: none;
  color: #fff;
  background: transparent;
  font-size: 1.1rem;
  padding: .5rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid #fff;
  transition: all .2s ease-in-out;
}

nav a:hover, nav button:hover {
  background: #fff;
  color: #000;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
}

footer {
  background: rgb(27, 27, 58);
  color: #fff;
  width: 100%;
  margin-top: auto;
  text-align: center;
}

.dashboard, .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}